.canvas {
  border: 5px solid black;

  /* transform: translate(-20%, -20%); */
}
@media screen and (min-width: 1350px) {
  .canvas {
    width: 1250px;
    height: 550px;
  }
}
@media screen and (min-width: 1600px) {
  .canvas {
    width: 1500px;
    height: 650px;
  }
}
@media screen and (min-width: 1800px) {
  .canvas {
    width: 1700px;
    height: 800px;
  }
}
@media screen and (min-width: 1930px) {
  .canvas {
    width: 1950px;
    height: 1000px;
  }
  @media screen and (min-width: 2000px) {
    .canvas {
      width: 1920px;
      height: 1040px;
    }
  }
}
